<div th:fragment="header">
    <nav class="navbar navbar-fixed-top  header" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle toggle_back" data-toggle="collapse"
                        data-target="#top_menu">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar icon-bar-back"></span>
                    <span class="icon-bar icon-bar-back"></span>
                    <span class="icon-bar icon-bar-back"></span>
                </button>
                <img src="../static/img/logo.png" th:src="@{/img/logo.png}"
                     style="height:100px;width:179px;padding:10px;"><a class="navbar-brand navbar-right"
                                                                       href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="top_menu">
                <!--向左对齐-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span th:if="${session.loginUser!=null}"
                                          th:utext="${session.loginUser.userName}"></span>&nbsp;你好!</a></li>
                    <li><a href="">欢迎访问 CHUNZHIYU</a></li>
                    <li><a href="#" th:href="@{/toLogin}" th:if="${session.loginUser !=null}"
                           th:text="${session.loginUser.userName}"></a>
                        <span></span>
                        <a href="#" th:href="@{/toLogin}" th:unless="${session.loginUser!=null}"><span
                                class="glyphicon glyphicon-log-in"
                                style="color: #ee813a;"></span>&nbsp;登陆&nbsp;|&nbsp;注册&nbsp;</a>
                        </span>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-tree-deciduous"
                            style="color: #ee813a;"></span>我的春之语<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{/userInfo}"><span class="glyphicon glyphicon-user"
                                                                         style="color: #ee813a;"></span>&nbsp;&nbsp;我的个人信息</a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-heart" style="color: #ee813a;"></span>&nbsp;&nbsp;我的收藏</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="" th:href="@{/car/allCars}"><span>
                        <img src="../static/img/car.png" th:src="@{/img/car.png}"
                             style="width: 27px; height: 19px;"></span>&nbsp;购物车
                        <span
                                class="badge" th:text="${session.carNumber}" id="car_number"
                                style="background-color: #d9534f;">21</span></a>
                    </li>
                    <li><a href="#" th:href="@{/order/findAll}"><span><img src="../static/img/002.png"
                                                                           th:src="@{/img/002.png}"
                                                                           style="width: 27px; height: 19px;"></span>我的订单</a>
                    </li>
                    <li><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"
                                                               style="color: #ee813a;"></span>退出</a></li>

                </ul>

                <!--向右对齐-->
                <ul class="nav  nav-tabs navbar-left top-menu" id="header_nav">
                    <li class="active"><a href="#" th:href="@{/index}">首页</a></li>
                    <li><a href="" th:href="@{/notice/findAll}">最新资讯</a></li>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">鲜花类别<b class="caret"></b></a>
                        <ul class="dropdown-menu list-group">
                            <li class="list-group-item category_list category_show">
                                用途
                                <label class="btn btn-default btn-sm "><a href="">主要标签</a></label>
                                <label class="btn btn-default btn-sm "><a href="">主要标签</a></label>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">关于我们</a></li>
                    <li>
                        <form class="navbar-form navbar-left" role="search" th:action="@{/goods/find}"
                              th:method="post">
                            <input class="form-control" id="userId-search" type="text"
                                   placeholder="商品" name="name">
                            <input type="submit" class="btn btn-primary" value="查询"></input>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--分类结束-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function showNotice() {
            //异步加载公告信息
            $.ajax({
                cache: false,
                type: "POST",
                url: /*[[@{/notice/showNotice10}]]*/'#',
                data: null,
                async: false,
                success: function (data) {
                    $("#notice_left").empty();
                    var li = "";
                    if (data.length < 0) {
                        li = "<li class='list-group-item'>暂无公告信息</li>"
                        $("#notice_left").append(li);
                        return;
                    }
                    var context = [[${#httpServletRequest.getContextPath()}]];
                    var url = ""
                    for (var i = 0; i < data.length; i++) {
                        url = context + "/notice/getNotice?id=" + data[i].noticeId;
                        li += "<li class='list-group-item'><a href='" + url + "'>" + data[i].noticeTitle + "&nbsp;&nbsp;<span class='notice_time'>" + data[i].noticeDate + "</span></a></li>"
                    }
                    li += "<li class='list-group-item'><a href='" + context + "/notice/findAll" + "'>更多>>><span></span></a></li>"
                    $("#notice_left").append(li);
                },
            });
        }

        function getTreeJSON() {
            $.ajax({
                type: "POST",
                url: /*[[@{/category/categorys}]]*/'#',
                data: null,
                dataType: "text",
                success: function (data) {
                    alert(data);
                    $('#tree').treeview({
                        data: eval('[' + data + ']'),
                        expand: true,
                        onNodeSelected: function (event, data) {
                            alert(data['id']);//获取选中node的id
                        }
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }
            });
        }

        function showCategory() {
            $.ajax({
                cache: false,
                type: "POST",
                url: /*[[@{/category/categorysWithLevel}]]*/'#',
                data: null,
                async: false,
                dataType: "json",
                success: function (data) {
                    $(".category_show").empty();
                    if (data == null || data.length < 0) {
                        alert("暂无分类信息");
                        var li = "<li class='list-group-item'>暂无分类信息</li>"
                        $(".category_show").append(li);
                        return;
                    }
                    var context = [[${#httpServletRequest.getContextPath()}]];
                    var url = ""
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].level == 0) {
                            html = "<li class='list-group-item'>";
                        } else if (data[i].level == 1) {
                            html += "<div class='p_category_name'><span>" + data[i].categoryName + "</span></div>";
                        } else {
                            url = context + "/category/findGoodsByCid?id=" + data[i].categoryId;
                            html += "<a type='button' class='btn btn-success btn-sm p_category' href='" + url + "'>" + data[i].categoryName + "</a>";
                        }
                    }
                    html += "</li>";
                    $(".category_show").append(html);
                },
            });
        }

        $(document).ready(function () {
            showNotice();
            showCategory();
        });

        /*]]>*/
    </script>
</div>