<div th:fragment="left_menu">
    <!--公告-->
    <div class="panel panel-danger ">
        <div class="panel-heading">
            最新公告
        </div>
        <div class="panel-body">
            <ul class="list-group " id="notice_left">
                <li class="list-group-item"><a href><span class="notice_title">春之语花艺活动火热进行中</span><span
                        class="notice_time">2018-5-12</span></a>
                </li>
                <li class="list-group-item"><a href><span class="notice_title">春之语花艺活动火热进行中</span><span
                        class="notice_time">2018-5-12</span></a></li>
                <li class="list-group-item"><a href><span class="notice_title">春之语花艺活动火热进行中</span><span
                        class="notice_time">2018-5-12</span></a></li>
                <li class="list-group-item"><a href><span class="notice_title">春之语花艺活动火热进行中</span><span
                        class="notice_time">2018-5-12</span></a></li>
                <li class="list-group-item"><a
                        href><span
                        class="notice_title">春之语花艺活动火热进行中</span><span>2018-5-12</span></a></li>
            </ul>
        </div>
    </div>
    <!--公告end-->

    <!--分类-->
    <div class="panel panel-danger">
        <div class="panel-heading">
            鲜花类别
        </div>
        <div class="panel-body">
            <div id="tree"></div>
            <ul class="list-group category_show" id="category_list">
                <li class="list-group-item"><span>其他</span></li>
            </ul>
        </div>
    </div>
</div>

