<div th:fragment="left_menu">
    <!--公告-->
    <div class="panel panel-danger ">
        <div class="panel-heading">
            最新公告
        </div>
        <div class="panel-body">
            <ul class="list-group notice_left">
                <li class="list-group-item"><a href>春之语花艺活动火热进行中&nbsp;&nbsp;<span>2018-5-12</span></a></li>
                <li class="list-group-item"><a href>春之语花艺活动火热进行中&nbsp;&nbsp;<span>2018-5-12</span></a></li>
                <li class="list-group-item"><a href>春之语花艺活动火热进行中&nbsp;&nbsp;<span>2018-5-12</span></a></li>
                <li class="list-group-item"><a href>春之语花艺活动火热进行中&nbsp;&nbsp;<span>2018-5-12</span></a></li>
                <li class="list-group-item"><a href>春之语花艺活动火热进行中&nbsp;&nbsp;<span>2018-5-12</span></a></li>
            </ul>
        </div>
    </div>
    <!--公告end-->

    <!--分类-->
    <div class="panel panel-danger">
        <div class="panel-heading">
            鲜花类别
        </div>
        <div class="panel-body">
            <ul class="list-group ">
                <li class="list-group-item">
                    <div class="p_category_name"><span>通途</span></div>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签2</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签3</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签4</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签5</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签6</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签7</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签8</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签9</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签10</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签12</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签101</a>
                </li>
                <li class="list-group-item"><span>其他</span></li>
            </ul>
        </div>
    </div>
    <!--分类结束-->
</div>