<div th:fragment="left_menu">
    <!--公告-->
    <div class="panel panel-danger ">
        <div class="panel-heading">
            最新公告
        </div>
        <div class="panel-body">
            <ul class="list-group " id="notice_left">
                <li class="list-group-item"><a href><span class="notice_title">春之语花艺活动火热进行中</span><span
                        class="notice_time">2018-5-12</span></a>
                </li>
                <li class="list-group-item"><a href><span class="notice_title">春之语花艺活动火热进行中</span><span
                        class="notice_time">2018-5-12</span></a></li>
                <li class="list-group-item"><a href><span class="notice_title">春之语花艺活动火热进行中</span><span
                        class="notice_time">2018-5-12</span></a></li>
                <li class="list-group-item"><a href><span class="notice_title">春之语花艺活动火热进行中</span><span
                        class="notice_time">2018-5-12</span></a></li>
                <li class="list-group-item"><a
                        href><span
                        class="notice_title">春之语花艺活动火热进行中</span><span>2018-5-12</span></a></li>
            </ul>
        </div>
    </div>
    <!--公告end-->

    <!--分类-->
    <div class="panel panel-danger">
        <div class="panel-heading">
            鲜花类别
        </div>
        <div class="panel-body">
            <div id="tree"></div>
            <ul class="list-group " id="category_list">
                <li class="list-group-item">
                    通途
                    <ul class="list-group ">
                        <li class="list-group-item"><a type="button" class="btn btn-success btn-sm p_category">主要标签</a>
                        </li>


                    </ul>
                    <div class="btn btn-warning p_category_name"><span>通途</span></div>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签2</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签3</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签4</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签5</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签6</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签7</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签8</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签9</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签10</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签12</a>
                    <a type="button" class="btn btn-success btn-sm p_category">主要标签101</a>
                </li>
                <li class="list-group-item"><span>其他</span></li>
            </ul>
        </div>
    </div>
    <!--分类结束-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function showNotice() {
            //异步加载公告信息
            $.ajax({
                cache: false,
                type: "POST",
                url: /*[[@{/notice/showNotice10}]]*/'#',
                data: null,
                async: false,
                success: function (data) {
                    $("#notice_left").empty();
                    var li = "";
                    if (data.length < 0) {
                        li = "<li class='list-group-item'>暂无公告信息</li>"
                        $("#notice_left").append(li);
                        return;
                    }
                    var context = [[${#httpServletRequest.getContextPath()}]];
                    var url = ""
                    for (var i = 0; i < data.length; i++) {
                        url = context + "/notice/getNotice?id=" + data[i].noticeId;
                        li += "<li class='list-group-item'><a href='" + url + "'>" + data[i].noticeTitle + "&nbsp;&nbsp;<span class='notice_time'>" + data[i].noticeDate + "</span></a></li>"
                    }
                    li += "<li class='list-group-item'><a href='" + url + "'>更多>>><span></span></a></li>"
                    $("#notice_left").append(li);
                },
            });
        }

        function getTreeJSON() {
            $.ajax({
                type: "POST",
                url: /*[[@{/category/categorys}]]*/'#',
                data: null,
                dataType: "text",
                success: function (data) {
                    alert(data);
                    // var dt = [{
                    //     text: '分类',
                    //     nodes: eval('[' + data + ']')
                    // }]

                    $('#tree').treeview({
                        data: eval('[' + data + ']'),
                        expand: true,
                        onNodeSelected: function (event, data) {
                            alert(data['id']);//获取选中node的id
                        }
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }
            });
        }

        function showCategory() {
            $.ajax({
                cache: false,
                type: "POST",
                url: /*[[@{/category/categorysWithLevel}]]*/'#',
                data: null,
                async: false,
                dataType: "json",
                success: function (data) {
                    $("#category_list").empty();
                    if (data == null || data.length < 0) {
                        alert("暂无分类信息");
                        var li = "<li class='list-group-item'>暂无分类信息</li>"
                        $("#category_list").append(li);
                        return;
                    }
                    var context = [[${#httpServletRequest.getContextPath()}]];
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].level == 0) {
                            html = "<li class='list-group-item'>";
                        } else if (data[i].level == 1) {
                            html += "<div class='p_category_name'><span>" + data[i].categoryName + "</span></div>";
                        } else {
                            html += "<a type='button' class='btn btn-success btn-sm p_category'>" + data[i].categoryName + "</a>";
                        }
                    }
                    html += "</li>";
                    $("#category_list").append(html);
                },
            });
        }

        $(document).ready(function () {
            showNotice();
            // getTreeJSON();
            showCategory();
        });
        /*]]>*/
    </script>
</div>

