<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>鲜花销售系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/dataTables.bootstrap.min.css"
          th:href="@{/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/bootstrap-datepicker.min.css"
          th:href="@{/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" href="../../static/css/metroStyle.css" th:href="@{/css/metroStyle.css}">
    <link rel="stylesheet" href="../../static/css/flower.css" th:href="@{/css/flower.css}">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="common/header :: header"></div>
<div th:include="common/menu :: menu"></div>
<div class="righ_page">
    <!--breadcrumb-nav-->
    <div class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home ">&nbsp;主页</span></a></li>
            <li><span class="glyphicon glyphicon-chevron-right"></span></li>
            <li><a href="#"><span class="glyphicon glyphicon-tree-deciduous left-menu-icon">&nbsp;商品花卉管理</span></a>
            </li>
        </ol>
    </div>
    <!--container-->
    <div class="container-fluid">
        <div class="page panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list left-menu-icon"></span>商品花卉列表
            </div>
            <!--search nav-->
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <lable class="control-label">编号:</lable>
                        <input class="form-control" id="noticeId-search" type="number" placeholder="编号" min="0">
                    </div>
                    <div class="form-group">
                        <lable class="control-label">花卉名称:</lable>
                        <input class="form-control" id="goodsName-search" type="text" placeholder="花卉名称">
                    </div>
                    <div class="form-group">
                        <lable class="control-label">花卉价格:</lable>
                        <input class="form-control" id="goodsPrice-search" type="text" placeholder="花卉价格">
                    </div>
                    <div class="form-group">
                        <lable class="control-label">花卉折扣:</lable>
                        <input class="form-control" id="goodsDiscount-search" type="number" placeholder="花卉折扣">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="search();">查询</button>
                    <div class="form-group navbar-form navbar-right">
                        <button type="button" class="btn btn-primary btn-stl btn-warning" onclick="allCategory()">花卉分类
                        </button>
                        <button type="button" class="btn btn-warning btn-stl" onclick="delGoodsById()">删除花卉</button>
                        <button type="button" class="btn btn-primary btn-stl" onclick="findGoods()">编辑花卉</button>
                        <button type="button" class="btn btn-primary btn-stl" onclick="$('#addGoods').modal();">添加花卉
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--table-->
        <table class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" id="datatable">
            <thead>
            <tr>
                <th><input type="checkbox" class="checkall"/></th>
                <th>编号</th>
                <th>花卉名称</th>
                <th>花卉市场价</th>
                <th>进货单价</th>
                <th>花卉售价</th>
                <th>折扣</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="footer" style="height:40px;"></div>
</div>

<!--添加商品弹窗-->
<div class="modal fade" id="addGoods" role="dialog" tabindex="-1" aria-labelledby="addGoodsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="addGoodsLabel">添加花卉</h4>
            </div>
            <div class="modal-body">
                <form id="addGoodsForm" name="addGoodsForm" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label class="control-label">花卉名称:</label>
                        <input type="text" class="form-control" name="goodsName" id="add-goodsName"
                               placeholder="花卉名称">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉描述:</label>
                        <textarea name="goodsDesc" id="add-goodsDesc" class="form-control"
                                  placeholder="花卉描述"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">花语:</label>
                        <textarea name="goodsMean" id="add-goodsMean" class="form-control"
                                  placeholder="花语"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉市场价:</label>
                        <input type="text" class="form-control" name="goodsShijia" id="add-goodsShijia"
                               placeholder="花卉市场价">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉进货单价:</label>
                        <input type="text" class="form-control" name="goodsPurchasePrice" id="add-goodsPurchasePrice"
                               placeholder="花卉进货单价">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉售价:</label>
                        <input type="text" name="goodsPrice" id="add-goodsPrice" class="form-control"
                               placeholder="花卉售价">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉折扣:</label>
                        <input type="text" name="goodsDiscount" id="add-goodsDiscount" class="form-control"
                               placeholder="花卉折扣">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉颜色:</label>
                        <input type="text" name="goodsColor" id="add-goodsColor" class="form-control"
                               placeholder="花卉颜色">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉材质:</label>
                        <input type="text" name="goodsMaterial" id="add-goodsMaterial" class="form-control"
                               placeholder="花卉材质">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉品牌:</label>
                        <input type="text" name="brand" id="add-brand" class="form-control"
                               placeholder="花卉品牌">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉包装:</label>
                        <input type="text" name="pack" id="add-pack" class="form-control"
                               placeholder="花卉包装">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉说明:</label>
                        <input type="text" name="remark" id="add-remark" class="form-control"
                               placeholder="花卉说明">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉图片:</label>
                        <input type="file" class="form-control" name="file" id="goodsimgFile">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addGoods();" id="btn-add">添加花卉</button>
            </div>
        </div>
    </div>
</div>


<!--修改商品弹窗-->
<div class="modal fade" id="editGoods" role="dialog" tabindex="-1" aria-labelledby="editGoodsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="editGoodsLabel">修改花卉信息</h4>
            </div>
            <div class="modal-body">
                <form id="editGoodsForm" name="editGoodsForm" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <img id="edit-goodsPic" src="" title="暂无上传图片 " class='img-rounded goods-img'>
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉编号:</label>
                        <input type="text" class="form-control" name="goodsId" id="edit-goodsId" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉名称:</label>
                        <input type="text" class="form-control" name="goodsName" id="edit-goodsName"
                               placeholder="花卉名称">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉描述:</label>
                        <textarea name="goodsDesc" id="edit-goodsDesc" class="form-control"
                                  placeholder="花卉描述"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">花语:</label>
                        <textarea name="goodsMean" id="edit-goodsMean" class="form-control"
                                  placeholder="花语"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉市场价:</label>
                        <input type="text" name="goodsShijia" id="edit-goodsShijia" class="form-control"
                               placeholder="花卉市场价">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉进货单价:</label>
                        <input type="text" name="goodsPurchasePrice" id="edit-goodsPurchasePrice" class="form-control"
                               placeholder="花卉进货单价">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉售价:</label>
                        <input type="text" name="goodsPrice" id="edit-goodsPrice" class="form-control"
                               placeholder="花卉售价">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉折扣:</label>
                        <input type="text" name="goodsDiscount" id="edit-goodsDiscount" class="form-control"
                               placeholder="花卉折扣">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉颜色:</label>
                        <input type="text" name="goodsColor" id="edit-goodsColor" class="form-control"
                               placeholder="花卉颜色">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉材质:</label>
                        <input type="text" name="goodsMaterial" id="edit-goodsMaterial" class="form-control"
                               placeholder="花卉材质">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉品牌:</label>
                        <input type="text" name="brand" id="edit-brand" class="form-control"
                               placeholder="花卉品牌">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉包装:</label>
                        <input type="text" name="pack" id="edit-pack" class="form-control"
                               placeholder="花卉包装">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉说明:</label>
                        <input type="text" name="remark" id="edit-remark" class="form-control"
                               placeholder="花卉说明">
                    </div>
                    <div class="form-group">
                        <label class="control-label">花卉图片:</label>
                        <input type="file" class="form-control" name="file" id="edit-file">
                        <lable>若要重新上传图片请重新上传</lable>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="editGoods();" id="btn-edit">修改花卉信息</button>
            </div>
        </div>
    </div>
</div>

<!--商品分配类别弹窗-->
<div class="modal fade" id="selectCategorys" role="dialog" tabindex="-1" aria-labelledby="selectCategoryLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="selectCategoryLabel">花卉分类</h4>
            </div>
            <div class="modal-body">
                <form id="boxCategoryForm">
                    <ul id="tree_category" class="ztree"></ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="saveGoodsCategory();">保存分类</button>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script src="../../static/js/dataTables.bootstrap.min.js" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script src="../../static/js/layer.js" th:src="@{/js/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ztree.core.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ztree.excheck.js}"></script>
<script src="../../static/js/Moment.js" th:src="@{/js/Moment.js}"></script>
<!--<script src="../../static/js/locales/bootstrap-datepicker.zh-CN.min.js"-->
<!--th:src="@{/js/locales/bootstrap-datepicker.zh-CN.min.js}"></script>-->
<script src="../../static/js/flower.js" th:src="@{/js/flower.js}"></script>
<script type="text/javascript" th:inline="javascript">
    //封装查询参数
    function getQueryCondition(data) {
        var param = {};
        //组装查询参数
        param.goodsId = $("#goodsId-search").val();//查询条件
        param.goodsName = $("#goodsName-search").val();//查询条件
        param.goodsPrice = $("#goodsPrice-search").val();//查询条件
        param.goodsDiscount = $("#goodsDiscount-search").val();//查询条件
        //组装分页参数
        param.start = data.start; //第一条数据的起始位置，比如0代表第一条数据
        param.length = data.length;//告诉服务器每页显示的条数
        param.draw = data.draw;//绘制计数器。这个是用来确保Ajax从服务器返回的是对应的,服务器接收到此参数后再返回
        return param;
    }

    //全选框选中时，子复选框都选上
    $(".checkall").click(function () {
        var check = $(this).prop("checked");
        $(".checkchild").prop("checked", check);
    });

    var table;
    $(document).ready(function () {
        table = $('#datatable').DataTable({
            "dom": '<"top"i>rt<"bottom"flp><"clear">',//"Bfrtip"
            serverSide: true, //开启服务端模式,使用服务器端处理配置datatable
            processing: true,//开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好
            searching: false,//搜索
            ordering: false,//排序
            language: {
                url: /*[[@{/css/zh_CN.txt}]]*/,
            },
            ajax: function (data, callback, settings) {
                var param = getQueryCondition(data);
                $.ajax({
                    type: "POST",
                    url: "/goods/goodslist",
                    cache: false,  //禁用缓存
                    data: param,    //传入已封装的参数
                    dataType: "json",
                    success: function (result) {
                        //返回封装的数据 如果参数相同，可以直接返回result
                        var returnData = {};
                        returnData.draw = result.draw; //这里直接自行返回了draw计数器,应该由后台返回
                        returnData.recordsTotal = result.recordsTotal; //总记录数
                        returnData.recordsFiltered = result.recordsFiltered;//后台不实现过滤功能，每次查询均视作全部结果
                        returnData.data = result.data;
                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("查询失败" + errorThrown);
                    }
                });
            }
            ,
            "columns":
                [
                    {
                        "sClass": "text-center",
                        "data": "goodsId",
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
                        },
                        'bSortable': false
                    },
                    {"data": "goodsId"},
                    {"data": "goodsName"},
                    {"data": "goodsShijia"},
                    {"data": "goodsPurchasePrice"},
                    {"data": "goodsPrice"},
                    {"data": "goodsDiscount"},
                ],
            columnDefs:
                [
                    {"orderable": false, "targets": 1}, // 目标列位置，下标从0开始
                    {"orderable": false, "targets": 2},
                    {"orderable": false, "targets": 3},
                    {"orderable": false, "targets": 4},
                    {"orderable": false, "targets": 5},
                    {"orderable": false, "targets": 6},
                ],
        });
    });

    //按条件查询
    function search() {
        table.ajax.reload();
    }

    var submit = false;

    function vertify(opp) {
        submit = false;
        var goodsName = $('#' + opp + '-goodsName').val();
        var goodsPrice = $('#' + opp + '-goodsPrice').val();
        if (goodsName == "" || goodsName == undefined || goodsName == null) {
            return layer.msg('花卉名称不能为空', function () {
                //关闭后的操作
            });
        }
        if (goodsPrice == "" || goodsPrice == undefined || goodsPrice == null) {
            return layer.msg('花卉售价不能为空', function () {
                //关闭后的操作
            });
        }
        submit = true;
    }


    //添加花卉
    function addGoods() {
        vertify('add');
        var formData = new FormData($('#addGoodsForm')[0]);
        if (submit) {
            $.ajax({
                cache: false,
                type: "POST",
                url: '/goods/add',
                data: formData,
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data == "success") {
                        layer.msg('保存成功');
                        table.ajax.reload();
                        $('#addGoods').modal('hide');
                    } else {
                        layer.msg(data);
                        //  $('#addGoods').modal('hide');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败,请检查输入是否有误!" + errorThrown);
                }
            });
        }
    }

    //模态框清空
    $('#addGoods').on('hidden.bs.modal', function () {
        clearForm($('#addGoodsForm'));
    });

    //查找类别
    function findGoods() {
        var id = $(".checkchild:checked").val();
        if ($(".checkchild:checked").length < 1) {
            layer.msg('请选择一条数据');
            return;
        }
        if ($(".checkchild:checked").length > 1) {
            layer.msg('一次只能修改一条数据');
            return;
        }
        $.ajax({
            async: false,
            type: "POST",
            data: {id: id},
            url: '/goods/findById',
            dataType: "json",
            success: function (data) {
                $("#edit-goodsId").val(data.goodsId);
                $("#edit-goodsName").val(data.goodsName);
                $("#edit-goodsDesc").val(data.goodsDesc);
                if (data.goodsPic != null && data.goodsPic != "") {
                    $("#edit-goodsPic").attr("src", '/' + data.goodsPic);
                    $("#edit-goodsPic").attr("title", '/' + data.goodsName);
                }
                $("#edit-goodsPic").empty();
                $("#edit-goodsPic").append("<input type='hidden' name='goodsPic' id='goodsPic' value='" + data.goodsPic + "'>");
                $("#edit-goodsColor").val(data.goodsColor);
                $("#edit-goodsMean").val(data.goodsMean);
                $("#edit-goodsShijia").val(data.goodsShijia);
                $("#edit-goodsPurchasePrice").val(data.goodsPurchasePrice);
                $("#edit-goodsPrice").val(data.goodsPrice);
                $("#edit-goodsDiscount").val(data.goodsDiscount);
                $("#edit-goodsMaterial").val(data.goodsMaterial);
                $("#edit-brand").val(data.brand);
                $("#edit-pack").val(data.pack);
                $("#edit-remark").val(data.remark);
                $("#edit-").val(data.remark);
                $('#editGoods').modal();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("操作失败,请检查输入是否有误!" + errorThrown);
            }
        });
    }


    //修改花卉信息
    function editGoods() {
        vertify('edit');
        var formData = new FormData($('#editGoodsForm')[0]);
        if (submit) {
            $.ajax({
                cache: true,
                type: "POST",
                url: '/goods/edit',
                data: formData,
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data == "success") {
                        layer.msg('修改成功');
                        table.ajax.reload();
                        $('#editGoods').modal('hide');
                    } else {
                        layer.msg(data);
                        $('#editGoods').modal('hide');
                    }
                }
            });
        }
        $("#edit-file").val("");
    }

    //删除花卉信息
    function delGoodsById() {
        var id = $(".checkchild:checked").val();
        if ($(".checkchild:checked").length < 1) {
            layer.msg('请选择一条数据');
            return;
        }
        if ($(".checkchild:checked").length > 1) {
            layer.msg('一次只能修改一条数据');
            return;
        }
        layer.confirm('您确定要删除该花卉信息吗？', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.ajax({
                cache: true,
                type: "POST",
                url: '/goods/delete',
                data: {id: id},
                async: false,
                success: function (data) {
                    if (data == "success") {
                        layer.msg('删除成功');
                        table.ajax.reload();
                    } else {
                        layer.msg(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败,请检查输入是否有误!" + errorThrown);
                }
            });
        });
    }


    //加载花卉类别
    var goodsId = ""

    function allCategory() {
        var id = $(".checkchild:checked").val();
        goodsId = id;
        if ($(".checkchild:checked").length < 1) {
            layer.msg('请选择一条数据');
            return;
        }
        if ($(".checkchild:checked").length > 1) {
            layer.msg('一次只能修改一条数据');
            return;
        }
        var setting = {
            check: {
                enable: true,
                chkboxType: {"Y": "p", "N": "s"}
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "categoryId",
                    pIdKey: "parentId",
                },
                key: {
                    name: "categoryName",
                    checked: "checked"
                }
            }
        };
        $.ajax({
            async: false,
            type: "POST",
            data: {id: id},
            url: '/goods/goodsCategory',
            datatype: "json",
            success: function (data) {
                $.fn.zTree.init($("#tree_category"), setting, data);
                var zTree = $.fn.zTree.getZTreeObj("tree_category");
                zTree.expandAll(false);
                $('#selectCategorys').modal();
            }
        });
    }

    //保存商品类别
    function saveGoodsCategory() {
        var zTree = $.fn.zTree.getZTreeObj("tree_category"),
            checkNode = zTree.getCheckedNodes(true);
        var ids = new Array();
        for (var i = 0; i < checkNode.length; i++) {
            ids.push(checkNode[i].categoryId);
        }
        $.ajax({
            async: false,
            type: "POST",
            data: {goodsId: goodsId, categoryId: ids.join(",")},
            url: "/goods/saveCategorys",
            success: function (data) {
                if (data == "success") {
                    layer.msg('保存成功');
                    $('#selectCategorys').modal('hide');
                    table.ajax.reload();
                } else {
                    layer.msg('保存失败');
                    $('#selectCategorys').modal('hide');
                }
            }
        });
    }

    // //重置
    // function returnClear() {
    //     tree.resetIds();
    //     tree.isReset = true;
    //     $("#dicids").attr("value", "");
    //     $("#checkDic").attr("value", "");
    // }
</script>
<div th:include="common/footer :: footer"></div>
</body>
</html>