<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>春之语欢迎你</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/flower.css" th:href="@{/css/flower.css}">
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="common/header :: header"></div>
<!--banner广告位-->
<div class="container-fluid banner">
    <img src="../static/img/nybanner.jpg" th:src="@{/img/nybanner.jpg}">
</div>
<div class="container-fluid content">
    <div class="row">
        <div class="col-md-3 ">
            <!--左侧页面-->
            <div th:include="common/left :: left_menu"></div>
        </div>
        <!--右侧主体-->
        <div class="col-md-9  panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    商品详细信息
                </h3>
            </div>
            <div class="pro_show">
                <div class="col-md-4">
                    <a th:href="@{/goods/findById(id=${goods.goodsId})}">
                        <img class="pro_img_img"
                             src="../static/product/pro1.jpg"
                             th:if="${goods.goodsPic ==null || goods.goodsPic ==''}"
                             th:src="@{/product/pro1.jpg}" style="width:100%;height:100%"/>
                        <img class=" pro_img_img" src="../static/product/pro1.jpg"
                             th:if="${goods.goodsPic !=null and goods.goodsPic !=''}"
                             th:src="@{'/'+${goods.goodsPic}}" style="width:100%;height:100%"/>
                    </a>
                </div>
                <div class="col-md-6" id="">
                    <p><span class="col-md-4">商品名称:</span><span class="col-md-8"
                                                                th:text="${goods.goodsName}">Unicorn-粉色巨型玫瑰园（永生花）</span>
                    </p>
                    <hr class="flowr_info_hr">
                    <div class="col-md-12 pro_info_produce"><span class="col-md-2">材料:</span><span class="col-md-10"
                                                                                                   th:text="${goods.goodsMaterial}">33枝红玫瑰，石竹梅围绕</span>
                    </div>
                    <div class="col-md-12 pro_info_produce"><span class="col-md-2">包装:</span><span class="col-md-10"
                                                                                                   th:text="${goods.pack}">黑色条纹纸，红色缎带花结</span>
                    </div>
                    <div class="col-md-12 pro_info_produce"><span class="col-md-2">花语:</span><span class="col-md-10"
                                                                                                   th:text="${goods.goodsMean}">只想和你忘掉一切烦恼，尽情沉醉在最浪漫的气氛中</span>
                    </div>
                    <div class="col-md-12 pro_info_produce"><span class="col-md-2">说明:</span><span class="col-md-10"
                                                                                                   th:text="${goods.remark}">下单填写留言，即免费赠送精美贺卡！</span>
                    </div>
                    <div class="col-md-12 pro_info_produce"><span class="col-md-2">品牌:</span><span class="col-md-10"
                                                                                                   th:text="${goods.brand}">鲜花-Union</span>
                    </div>
                    <div class="col-md-12 pro_info_produce"><span class="col-md-2">市场价:</span><span
                            class="col-md-10"
                            style="color:red;"
                            th:text="'￥'+${goods.goodsShijia}">￥200.0</span>
                    </div>
                    <div class="col-md-12 pro_info_produce"><span class="col-md-2">价格:</span><span class="col-md-10"
                                                                                                   style="color:red;"
                                                                                                   th:text="'￥'+${goods.goodsPrice}">￥200.0</span>
                    </div>
                    <div class="col-md-12 pro_info_produce">
                        <div class="col-md-5 " style="float:right;">
                            <button href="#" class="btn btn-sm btn-default"
                                    th:onclick="'javascript:addCar(\''+${goods.goodsId}+'\');'"><span><img
                                    src="../static/img/car.png"
                                    th:src="@{/img/car.png}"
                                    style="width: 27px; height: 19px;"></span>&nbsp;&nbsp;加入购物车
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <p></p>
        <div class="col-md-9  panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    添加评价
                </h3>
            </div>
            <div class="panel-body">
                <form id="addCommentsForm" method="POST">
                    <input type="hidden" name="goodsId" th:value="${goods.goodsId}">
                    <input type="hidden" name="commentTitle" th:value="${goods.goodsName}">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">评价标题:</label>
                            <span th:text="${goods.goodsName}"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">填写评价内容</label>
                            <textarea name="commentContent" id="commentContent" class="form-control">
                               </textarea>
                        </div>
                    </div>
                </form>
                <div class="col-lg-offset-5">
                    <button type="button" class="btn btn-warning" onclick="addComment();">提交评论</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!--footer-->
<div th:include="common/footer :: footer"></div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    function addComment() {
        var commentContent = $("#commentContent").val();
        if (commentContent == null || commentContent == "" || commentContent == undefined) {
            alert("填写评论不能为空!");
            return;
        } else {
            $.ajax({
                cache: true,
                type: "POST",
                url: /*[[@{/comments/add}]]*/'#',
                data: $('#addCommentsForm').serialize(),
                async: false,
                success: function (data) {
                    alert(data);
                    window.location = /*[[@{/goods/findById(id=${goods.goodsId})}]]*/'#'
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作出现异常");
                }
            });
        }
    }

    /*]]>*/
</script>
</html>
