<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>春之语欢迎你</title>
    <!--[if IE]
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/flower.css" th:href="@{/css/flower.css}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="common/header :: header"></div>
<!--banner广告位-->
<div class="container-fluid banner">
    <img src="../static/img/nybanner.jpg" th:src="@{/img/nybanner.jpg}">
</div>
<div style="height:400px;">
    <div class="header-div">
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12 ">
                        <h1>访问页面出错了!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-text">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4  text-center">
                    <h2>flower</h2>
                    <hr/>
                    <a href="#" th:href="@{/index}" class="btn btn-info">回到主页</a>
                    <hr/>
                    <a href="#" class="btn  btn-warning">管理员邮箱e-mail</a>
                </div>
            </div>
        </div>
    </section>
    <div class="header-div">
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1>对不起, <strong>向您致歉 </strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div th:include="common/footer :: footer"></div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
