<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=7"/>
    <title>花之语欢迎你</title>
    <link href="images/css_whir.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="script/jquery.min.js"></script>
    <script type="text/javascript" src="script/nav.js"></script>
    <script type="text/javascript" src="script/script.js"></script>
</head>
<body>
<div th:include="common/header :: header"></div>
<!--footer-->
</body>
</html>
