<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>春之语注册</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/flower.css" th:href="@{/css/flower.css}">
    <link rel="stylesheet" href="../../static/css/bootstrap-datepicker.min.css"
          th:href="@{/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-treeview.css" th:href="@{/css/bootstrap-treeview.css}">
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/Moment.js" th:src="@{/js/Moment.js}"></script>
    <!--<script src="../../static/js/locales/bootstrap-datepicker.zh-CN.min.js"-->
    <!--th:src="@{/js/locales/bootstrap-datepicker.zh-CN.min.js}"></script>-->
    <script src="../../static/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script src="../static/js/bootstrap-treeview.js" th:src="@{/js/bootstrap-treeview.js}"></script>
</head>
<body>
<div th:include="common/header :: header"></div>
<div class="user_info">
    <div class="container text-center">
        <div class="col-md-offset-2 col-md-8  text-center ">
            <form class="form-horizontal" role="form" enctype="multipart/form-data" id="editForm" method="post">
                <input type="hidden" name="userImg" th:value="${session.loginUser.userImg}">
                <img class="col-md-offset-2 img-responsive  user_img" th:if="${session.loginUser.userImg}"
                     th:src="@{${session.loginUser.userImg}}">
                <img class="col-md-offset-2 img-responsive  user_img"
                     th:if="${session.loginUser.userImg == null or session.loginUser.userImg=='' }" src="#"
                     title="暂无头像">
                <h1>春之语-我的个人信息</h1>
                <div></div>
                <input type="hidden" th:value="${session.loginUser.userId}" name="userId">
                <div class="form-group">
                    <label for="userName" class="col-md-4 control-label">用户名</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="userName" id="userName"
                               th:value="${session.loginUser.userName}">
                    </div>
                    <label class="col-md-2 control-label" style="color: red">*</label>
                </div>
                <hr>
                <div class="form-group">
                    <label for="userName" class="col-md-4 control-label">邮箱</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="userEamil" id="userEamil"
                               th:value="${session.loginUser.userEamil}">
                    </div>
                    <label class="col-md-2 control-label" style="color: red">*</label>
                </div>
                <hr>
                <div class="form-group">
                    <label for="userTel" class="col-md-4 control-label">手机号</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="userTel" id="userTel"
                               th:value="${session.loginUser.userTel}">
                    </div>
                    <label class="col-md-2 control-label" style="color: red">*</label>
                </div>
                <hr>
                <div class="form-group">
                    <label for="userRealname" class="col-md-4 control-label">真实姓名</label>
                    <div class="col-md-5">
                        <input type="text" name="userRealname"
                               class="form-control"
                               id="userRealname" th:value="${session.loginUser.userRealname}">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-md-4 control-label ">会员生日:</label>
                    <div class="col-md-5  date form_datetime" data-date-format="yyyy-mm-dd"
                         data-link-format="yyyy-mm-dd">
                        <input type="text" class="form-control" name="userBirthday" id='userBirthday'
                               th:value="${session.loginUser.userBirthday}">
                    </div>
                </div>

                <hr>
                <div class="form-group">
                    <label for="userAddress" class="col-md-4 control-label">地址</label>
                    <div class="col-md-5">
                        <input type="text" name="userAddress"
                               class="form-control"
                               id="userAddress" th:value="${session.loginUser.userAddress}">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="userSex" class="col-md-4 control-label">性别</label>
                    <div class="col-md-5">
                        <label class="radio-inline" id="userSex">
                            <input type="radio" name="userSex" th:checked="${session.loginUser.userSex} == '女'"
                                   value="女" class="userSex"> 女
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="userSex" class="userSex" value="男"
                                   th:checked="${session.loginUser.userSex == '男'}"> 男
                        </label>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="userQq" class="col-md-4 control-label">qq</label>
                    <div class="col-md-5">
                        <input type="text" name="userQq" th:value="${session.loginUser.userQq}"
                               class="form-control"
                               id="userQq">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-md-4 control-label">重新上传头像:</label>
                    <div class="col-md-5">
                        <input type="file" class="form-control" name="file" id="userFile">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <button type="button" class="btn btn-warning btn-lg" onclick="edit()">修改</button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" role="form" method="post" id="setPassForm">
                <div class="form-group">
                    <label for="oriUserPw" class="col-md-4 control-label">原密码</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control" name="oriUserPw" id="oriUserPw">
                    </div>
                    <label class="col-md-2 control-label" style="color: red">*</label>
                </div>
                <div class="form-group">
                    <label for="userPw" class="col-md-4 control-label">新密码</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control" name="userPw" id="userPw">
                    </div>
                    <label class="col-md-2 control-label" style="color: red">*</label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <button type="button" class="btn btn-warning btn-lg" onclick="setPass()">重置密码</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div></div>
</div>
<div th:include="common/footer :: footer"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    //重置密码
    function setPass() {
        var oriUserPw = $("#oriUserPw").val();
        var userPw = $("#userPw").val();
        if (oriUserPw == "" || oriUserPw == undefined || oriUserPw == null) {
            alert('请输入原密码!');
            $("#userName").focus();
            return false;
        }
        if (userPw == "" || userPw == undefined || userPw == null) {
            alert('新密码不能为空!');
            $("#userName").focus();
            return false;
        }
        $.ajax({
            cache: true,
            type: "POST",
            url: /*[[@{/setPass}]]*/'#',
            data: $("#setPassForm").serialize(),
            async: false,
            success: function (data) {
                if (data = '重置密码成功,请妥善保存!') {
                    alert(data);
                } else {
                    alert(data);
                }
            }
        });
    }

    //修改信息
    function edit() {
        var username = $("#userName").val();
        var userEamil = $("#userEamil").val();
        var userTel = $("#userTel").val();
        if (username == "" || username == undefined || username == null) {
            alert('用户名不能为空!');
            $("#userName").focus();
            return false;
        }
        if (userEamil == "" || userEamil == undefined || userEamil == null) {
            alert('邮箱不能为空!');
            $("#userEamil").focus();
            return false;
        }
        if (userTel == "" || userTel == undefined || userTel == null) {
            alert('手机号不能为空!');
            $("#userTel").focus();
            return false;
        }
        var formData = new FormData($('#editForm')[0]);
        $.ajax({
            cache: true,
            type: "POST",
            url: /*[[@{/edit}]]*/'#',
            data: formData,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data = '修改成功!') {
                    window.location = /*[[@{/userInfo}]]*/'#';
                    alert(data);
                } else {
                    alert(data);
                }
            }
        });
    }

    $('#userBirthday').datepicker({
        language: 'zh-CN',//显示中文
        format: 'yyyy-mm-dd',//显示格式
        minView: "month",//设置只显示到月份
        todayHighlight: 1,
        // weekStart: 1, //以星期一作为开始
        // startView: 2,//展示的样式，1小时，2日
        // minView: 2,//选取到的时间，2天，1小时
        initialDate: new Date("19910101"),
        autoclose: true,//选中自动关闭
        // todayBtn: true,//显示今日按钮
        locale: moment.locale('zh-cn')
    });

    /*]]>*/
</script>
</body>

</html>