<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>鲜花销售系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/dataTables.bootstrap.min.css"
          th:href="@{/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/flower.css" th:href="@{/css/flower.css}">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="common/header :: header"></div>
<div th:include="common/menu :: menu"></div>
<div class="righ_page">
    <!--breadcrumb-nav-->
    <div class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home ">&nbsp;主页</span></a></li>
            <li><span class="glyphicon glyphicon-chevron-right"></span></li>
            <li><a href="#"><span class="glyphicon glyphicon-tree-deciduous left-menu-icon">&nbsp;订单管理</span></a>
            </li>
        </ol>
    </div>
    <!--container-->
    <div class="container-fluid">
        <div class="page panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list left-menu-icon"></span>订单详情
            </div>
            <!--search nav-->
            <div class="panel-body">
                <div class="pro_show">
                    <div class="col-md-4">
                        <img class="pro_img_img"
                             src="../static/product/pro1.jpg"
                             th:if="${order.goods.goodsPic ==null || order.goods.goodsPic ==''}"
                             th:src="@{/product/pro1.jpg}" style="width:100%;height:100%"/>
                        <img class=" pro_img_img" src="../static/product/pro1.jpg"
                             th:if="${order.goods.goodsPic !=null and order.goods.goodsPic !=''}"
                             th:src="@{'/'+${order.goods.goodsPic}}" style="width:100%;height:100%"/>
                    </div>
                    <div class="col-md-8" id="">
                        <p><span class="col-md-3">订单编号:</span><span class="col-md-9"
                                                                    th:text="${order.orderNo}"></span></p>
                        <p><span class="col-md-3">订单状态:</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='00'}"
                                  th:text="'未支付'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='02'}"
                                  th:text="'支付失败'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='03'}"
                                  th:text="'支付成功'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='04'}"
                                  th:text="'订单审核成功'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='05'}"
                                  th:text="'订单审核失败'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='06'}"
                                  th:text="'已发货,运输中'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='07'}"
                                  th:text="'待收货'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='08'}"
                                  th:text="'已收货'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='09'}"
                                  th:text="'待评价'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='10'}"
                                  th:text="'已评价'">订单状态</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='11'}"
                                  th:text="'订单已取消'">订单已取消</span>
                            <span class="col-md-9" th:if="${order.orderStatus=='12'}"
                                  th:text="'订单已被用户删除'">订单已被用户删除</span>
                        </p>
                        <hr class="flowr_info_hr">
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">商品名称:</span>
                            <span class="col-md-9"></span> <a href="#"
                                                              th:href="@{/goods/findById(id=${order.goods.goodsId})}"
                                                              th:text="${order.goods.goodsName}">Unicorn-粉色巨型玫瑰园（永生花）</a>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">商品市场价:</span>
                            <span class="col-md-9"
                                  style="color:red;"
                                  th:text="'￥'+${order.goods.goodsShijia}">￥200.0</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">商品价格:</span><span
                                class="col-md-9"
                                style="color:red;"
                                th:text="'￥'+${order.goods.goodsPrice}">￥200.0</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">订单数量:</span><span
                                class="col-md-9"
                                th:text="${order.orderNumber}">订单数量</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">订单金额:</span><span
                                class="col-md-9" style="color:red;"
                                th:text="${order.orderAmount}">订单金额</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">订单生成日期:</span><span
                                class="col-md-9"
                                th:text="${order.orderDate}">订单生成日期</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">收货人:</span><span
                                class="col-md-9"
                                th:text="${order.orderUserName}">收货人</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">收货人联系方式:</span><span
                                class="col-md-9"
                                th:text="${order.orderUserPhone}">收货人联系方式</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">收货人地址:</span><span
                                class="col-md-9"
                                th:text="${order.orderAddress}">收货人地址</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">付款方式:</span><span
                                class="col-md-9"
                                th:text="${order.orderPayWay}">付款方式</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">发货日期:</span><span
                                class="col-md-9"
                                th:text="${order.orderDeliver}">发货日期</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">快递公司:</span><span
                                class="col-md-9"
                                th:text="${order.orderExpress}">快递公司</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">快递员:</span><span
                                class="col-md-9"
                                th:text="${order.orderSenderName}">快递员</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">快递联系方式:</span><span
                                class="col-md-9"
                                th:text="${order.orderSenderTel}">快递联系方式</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">物流状态:</span><span
                                class="col-md-9"
                                th:text="${order.orderExpressStatus}">物流状态</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">订单完成日期:</span><span
                                class="col-md-9"
                                th:text="${order.orderFinishDate}">订单完成日期</span>
                        </div>
                        <div class="col-md-12 pro_info_produce"><span class="col-md-3">订单备注:</span><span
                                class="col-md-9"
                                th:text="${order.orderRemark}">订单备注</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list left-menu-icon"></span>订单审核
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="orderStatusForm" role="form" style="width: 44%;margin-left: 10%;"
                      method="post">
                    <input type="hidden" th:value="${order.id}" name="id"/>
                    <div class="form-group">
                        <label class="control-label">修改订单状态</label>
                        <select class="form-control" name="orderStatus">
                            <option value="04">订单审核成功</option>
                            <option value="05">订单审核失败</option>
                            <option value="07">订单已送达,待收货</option>
                            <option value="11">订单已取消</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary col-lg-offset-3" onclick="updateOrderStatus();">
                        保存订单状态
                    </button>
                </form>
            </div>
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list left-menu-icon"></span>发货
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" id="orderSendForm"
                      style="width: 44%;margin-left: 10%;" method="post">
                    <input type="hidden" th:value="${order.id}" name="id"/>
                    <div class="form-group">
                        <lable class="control-label">快递公司:</lable>
                        <input class="form-control" name="orderExpress" id="orderExpress_edit" type="text" value=""
                        >
                    </div>
                    <div class="form-group">
                        <lable class="control-label">快递员:</lable>
                        <input class="form-control" name="orderSenderName" type="text" value=""
                               id="orderSenderName_edit">
                    </div>
                    <div class="form-group">
                        <lable class="control-label">快递员联系方式:</lable>
                        <input class="form-control" name="orderSenderTel" id="orderSenderTel_edit" type="text" value="">
                    </div>
                    <div class="form-group">
                        <lable class="control-label">物流状态描述:</lable>
                        <input class="form-control" name="orderExpressStatus" id="orderExpressStatus_edit" type="text"
                               value="">
                    </div>
                    <div class="form-group">
                        <lable class="control-label">订单状态</lable>
                        <select class="form-control" name="orderStatus">
                            <option value="06">已发货,运输中</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary col-lg-offset-3" onclick="orderSender();">
                        订单发货
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer" style="height:40px;"></div>
</div>

<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script src="../../static/js/dataTables.bootstrap.min.js" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script src="../../static/js/layer.js" th:src="@{/js/layer.js}"></script>
<script src="../../static/js/flower.js" th:src="@{/js/flower.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    //修改订单状态
    function updateOrderStatus() {
        $.ajax({
            cache: true,
            type: "POST",
            url: /*[[@{/order/updateOrderStatus}]]*/'#',
            data: $("#orderStatusForm").serialize(),
            async: false,
            success: function (data) {
                if (data == "success") {
                    layer.msg('删除成功!');
                    table.ajax.reload();
                } else {
                    layer.msg('删除失败');
                }
            }
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("操作失败" + errorThrown);
            }
        });
    }

    //订单发货
    function orderSender() {
        var orderExpress = $("#orderExpress_edit").val();
        var orderSenderName = $("#orderSenderName_edit").val();
        var orderSenderTel = $("#orderSenderTel_edit").val();
        if (orderExpress == "" || orderExpress == null || orderExpress == undefined) {
            alert('请填写发货的快递公司!');
            return false;
        }
        if (orderSenderName == "" || orderSenderName == undefined || orderSenderName == null) {
            alert('请填写送货的快递员!');
            return false;
        }
        if (orderSenderTel == "" || orderSenderTel == undefined || orderSenderTel == null) {
            alert('请填写送货人联系方式!');
            return false;
        }
        $.ajax({
            cache: true,
            type: "POST",
            url: '/order/orderSend',
            data: $("#orderSendForm").serialize(),
            async: false,
            success: function (data) {
                if (data == "success") {
                    layer.msg('处理成功');
                    table.ajax.reload();
                } else {
                    layer.msg('处理失败');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("操作失败" + errorThrown);
            }
        });
    }

    /*]]>*/
</script>
<div th:include="common/footer :: footer"></div>
</body>
</html>